body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fef7c9;

}

header {
    background-color: #fef7c9;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #53c0c1;
    text-shadow: 1px 1px #1a617f;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
    font-weight: bolder;
    margin: 0;
}

.logo-link img {
    width: 120px;
    height: auto;
    margin-right: 10px;
}

nav {
    background-color: #feca0d;
    overflow: hidden;

}

nav a {
    float: left;
    display: block;
    color: #53c0c1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Noto Serif', serif;

}

nav a:hover {
    background-color: #e29c48;
    color: black;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.scroll-to-top img {
    width: 80px;
    height: auto;
    display: block;
    margin: auto;
    float: right;
}

footer {
    background-color: #feca0d;
    color: #53c0c1;
    text-align: center;
    padding: 5px;
    position: bottom;
}

img {
    height: 400px;
    width: 500px;
    float: left;
}

h2 {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: top;
    color: #53c0c1;
    text-decoration: underline;

}

p {
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 1.6;
    margin: 50px 0;
    padding: 0 50px;
    overflow: hidden;


}


.paragraph-container {
    background-color: #ebd49c;
    overflow: hidden;
    border-radius: 10px;
}


hr {

    border: 2px solid #feca0d;
}

.contact-menu {
    background-color: #ebd49c;
    text-align: center;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: left;
}

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #53c0c1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e29c48;
    color: black;
}